@charset "utf-8";

/* CSS Document */

*,*:before,*:after {
	box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/   v2.0 | 20110126   License: none (public domain)*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
	cursor: default;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: black;
	text-decoration: none;
	display: block;
}

	/** Main css **/

	.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

.sb-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.v-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.w-flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.hidden {
	display: none;
}

body {
	background: #e6ebff;
}

.display-screen {
	max-width: 70vh;
	margin: 0 auto;
	background: white;
	min-height: 100vh;
}