@charset "utf-8";

/* CSS Document */

*,*:before,*:after {
	box-sizing: border-box;
	-webkit-appearance: none;
}

/* http://meyerweb.com/eric/tools/css/reset/   v2.0 | 20110126   License: none (public domain)*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
	cursor: default;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: black;
	text-decoration: none;
	display: block;
}

	/** Main css **/

html, body {
	/* height: 100%; */
	max-height: 100vh;
	width: 100%;
	overflow: hidden;
	position: fixed;	
}

h2 {
	font-size: 20px;
	margin: 15px 0;
	color: #5f6368;
	font-weight: bold;
}

@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'), url(fonts/crimson-text.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#dev {
	background: white;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000000000;
	font-family: monospace;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

.sb-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.v-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.w-flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.hidden {
	display: none;
}

.display-screen {
	background: white;
}

#display-install {
	top: 0;
	display: none;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.install-content {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	color: white;
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75vh;
	margin-top: 8vh;
	justify-content: space-around;
}

.install-head {
	font-size: 24px;
	width: 75%;
	max-width: 600px;
}

.install-title {
	margin: 0 auto;
	width: fit-content;
}

.install-dialog {
	font-size: 18px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.install-text {
	display: flex;
	align-items: flex-end;
}

.install-icon-addtohome {
	width: 40px;
	height: 40px;
	background: url(../images/mobile-sprite.png) 0 0;
	background-size: 100%;
}

.install-pointer {
	width: 40px;
	height: 40px;
	background: url(../images/mobile-sprite.png) 0 -42px;
	background-size: 100%;
	animation-name: install-pointer;
	animation-duration: 1450ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes install-pointer {
	25% {transform: translate(0, 100%)}
	100% {transform: translate(0, 0)}
}

#display-load {
	top: 0;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.load-box {
	width: 95%;
	max-width: 800px;
	max-height: 800px;
}

.load-remove {
	animation-name: load-fade;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes load-fade {
	0% {opacity: 1;}
	99% {
		opacity: 0;
		top: initial;
	}
	100% {
		opacity: 0;
		top: 500vh;
	}
}

#screen-menu {
	position: fixed;
	height: 100vh;
	width: 100%;
	transition: 400ms;
	font-family: Arial, Helvetica, sans-serif;
	color: #5f6368;
	top: 0;
}

.menu-close {
	left: -100%;
}

.menu-open {
	left: 0;
}

.menu-head {
	border-bottom: 1px solid #cad2dd;
}

.menu-head div.header-left {
	justify-content: flex-start;
}

.menu-head div.comp-icon {
	height: 50px;
	width: 50px;
	min-width: 50px;
	background-size: 50px 50px; 
}

.menu-head h1.title {
	font-size: 25px;
}

.menu-items {
	width: 256px;
	max-width: 75%;
	height: 100%;
	background: white;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.menu-items li {
	 padding: 15px 0 15px 15px;
	 border-radius: 0 500px 500px 0;
	 margin: 5px 0 5px 0;
	 display: flex;
	 align-items: flex-end;
}

.menu-items li:hover {
	background: #cad2dd;
}

.menu-items li div {
	width: 20px;
	height: 20px;
	background-size: 40px 60px;
	margin-right: 15px;
	background-image: url(../images/menu-sprite.svg);
}

.mnu-btn-new {
	 background-position: 0 -20px;
}

.mnu-btn-recent {
	 background-position: 20px -20px;
}

.mnu-btn-set {
	 background-position: 0 -40px;
}

.menu-back-dim {
	background: rgba(0, 0, 0, 0.01);
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	left: -100%;
	z-index: -1;
	transition: background 400ms linear, left 400ms step-end;
}

.menu-open .menu-back-dim {
	background: rgba(0, 0, 0, 0.7);
	left: 0;
	transition: background 400ms linear, left 1ms step-end;
}

.screen-order {
	height: -webkit-fill-available;
}

.screen-header {
	top: 0px;
	transition: 0.3s;
	position: fixed;
	width: 100%;
	background: white;
	border-bottom: 1px solid #cad2dd;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	color: #5f6368;
}

.header-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-button {
	height: 29px;
	width: 30px;
	min-width: 30px;
	background:url(../images/menu-sprite.svg) 0 0;
	background-size: 60px 90px; 
	margin: 15px;
}

.comp-icon {
	height: 60px;
	width: 60px;
	min-width: 60px;
	background:url(../images/logo-icon.svg) 0 0;
	background-size: 60px 60px; 
	margin: 15px;
}

h1.title {
	font-size: 30px;
	overflow: hidden;
}

.reload-button {
	height: 20px;
	width: 20px;
	min-width: 20px;
	background: url(../images/menu-sprite.svg) 30px 0;
	background-size: 60px 60px;
	margin: 25px;
}

.reload-button:focus {
	animation-name: reload;
	animation-duration: 400ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	outline: none;
}

@keyframes reload {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}

.screen-box {
	/* height: calc(100vh - 91px); */
	padding-top: 91px;
	transition: 0.3s;
}

#screen-content {
	width: 300vw;
	position: relative;
	display: flex;
	transition: 0.3s;
	max-height: calc(100vh - 91px);
}

#screen-content.page0 {
	left: 0;
}

#screen-content.page1 {
	left: -100vw;
}

#screen-content.page2 {
	left: -200vw;
}

.page {
	width: 100vw;
	overflow: hidden;
	overscroll-behavior: none;
}

.page-neworder {
	overflow-y: scroll;
	scroll-behavior: smooth;
	max-height: 100vh;
	height: 100%;
	overscroll-behavior: none;
	-webkit-overflow-scrolling: touch;
}

.order-form {
	padding: 15px;
	font-family: "Roboto";
	min-height: calc(100vh + 100px);
}

.order-form section {
	padding-bottom: 15px;
}

.order-form label {
	display: block;
	margin: 5px 0 2px 0;
	color: #5f6368;
	font-size: 16px;
}

.order-form input {
	display: block;
	margin: 2px 0 20px 0;
}

.order-form input, .order-form select, .order-form textarea {
	outline: none;
	border: none;
	background: white;
	width: 75%;
	height: 35px;
	font-family: Roboto;
	font-size: 18px;
	color: #5f6368;
	border-bottom: 2px solid #cad2dd;
	transition: 0.3s;
}

.order-form input:focus, .order-form textarea:focus {
	border-bottom: 2px solid #4285f4;
}

.page-recent {
	overflow-y: scroll;
	height: 100%;
	overscroll-behavior: none;
	-webkit-overflow-scrolling: touch;
}

.page-recent-addbtn {
	height: 80px;
	width: 80px;
	background-color: #06f;
	background-image: url(../images/menu-add.svg);
	background-position: -35px -14px;
	background-size: 151px 216px;  
	border-radius: 50%;
	position: absolute;
	top: calc(100vh - 91px - 100px);
	right: calc(100vw + 20px);
	box-shadow: 1px 2px 7px #555;
}

div.font {
	padding: 30px;
	font-size: 60px;
	font-family: 'Crimson Text', serif;
	font-style: oblique;
}

.fixstuff {
	height: 55vh;
}